php_flag allow_url_include 0
php_flag ignore_repeated_errors 0
php_flag expose_php 1
php_value allow_url_fopen 1
php_value max_input_vars 10000
php_value register_argc_argv 0
php_value file_uploads 1
php_flag track_errors 1
php_value opcache.enable 0